.calendar-wrapper {
  position: absolute;
  top: 100px;
  left: 90px;
  width: 863px;
  height: 730px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-5xl);
  background: linear-gradient(to bottom right, var(--color-div-background), var(--color-div-background), #7683b0);
  border-radius: 15px;
  font-family: var(--font-poppins);
}
.calendar-heading .heading {
  width:100%;
  position: relative;
  font-weight: 500;
}
.calendar-heading {
  position:relative;
  width: 98%;
  border-radius: var(--br-3xs);
  background-color: var(--color-div-heading);
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-4xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-317xl);
  z-index: 1;
  font-size: var(--font-size-xl);
}

.grid-wrapper{
  position:relative;
  width:90%;
  left: 5%;
  top: 10px;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 50px repeat(5, 120px);
  font-size: var(--font-size-lg);
}
.cell{
  padding: 5px;
  text-align: right;
  border: 2px solid;
}
