.calendar {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--color-lavender);
    width: 100vw;
    height: 100vh;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-white);
    font-family: var(--font-poppins);
    background: linear-gradient(to bottom right, rgb(220, 228, 255), #ffffff, rgb(220, 228, 255));
}

.calendar Header {
  height:10%;
}
.calendar-crm-container {
    position: relative;
    text-align: right;
    color: var(--color-lightseagreen);
  position: relative;
  top: 10%;
  right:10%;
  line-height: 150%;
  text-align: right;
  color: var(--color-lightseagreen);
}

.calendar-crm-container .span {
    color: var(--color-white);
}

.calendar-crm-container .crm {
    color: var(--color-slategray);
}