.calendar {
  background-color: var(--color-lavender);
  width: 100%;
  height: 100%;
  max-width: 1024px;
  overflow: hidden;
  text-align: right;
  font-size: var(--font-size-xl);
  color: var(--color-lightseagreen);
  font-family: var(--font-poppins);
}
.calendar Header {
  height:10%;
}
.calendar-crm-container {
  position: relative;
  top: 10%;
  right:10%;
  line-height: 150%;
  text-align: right;
  color: var(--color-lightseagreen);
}
.calendar-crm-container .span {
  color: var(--color-white);
}
.calendar-crm-container .crm {
  color: var(--color-slategray);
}
