.navigation-bar-child1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-700);
  width: 1440px;
  height: 57px;
  opacity: 0.8;
  mix-blend-mode: multiply;
}
.connections4,
.dashboard3,
.profile3 {
  position: absolute;
  display: inline-block;
}
.profile3 {
  top: 16px;
  left: 428px;
  width: 135.58px;
  height: 30.39px;
  cursor: pointer;
}
.connections4,
.dashboard3 {
  top: 14px;
  height: 33.89px;
}
.dashboard3 {
  left: 123px;
  width: 177.66px;
  cursor: pointer;
}
.connections4 {
  left: 267px;
  color: var(--color-lightseagreen-100);
  width: 201.03px;
}
.calendar2 {
  position: absolute;
  top: 16px;
  left: 564px;
  color: var(--color-white);
  cursor: pointer;
}
.dashboard-icon3 {
  position: absolute;
  top: 16px;
  left: 103px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  mix-blend-mode: color-dodge;
}
.navigation-bar3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 57px;
  font-size: var(--font-size-lg);
  color: var(--color-snow);
  font-family: var(--font-poppins);
}
.username-child1 {
  position: absolute;
  top: 8px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-100);
  width: 112px;
  height: 25px;
  mix-blend-mode: lighten;
}
.vector-icon3 {
  position: absolute;
  height: 17.04%;
  width: 7.6%;
  top: 47.46%;
  right: 37.72%;
  bottom: 35.5%;
  left: 54.68%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.username5 {
  position: absolute;
  top: 8px;
  left: 0;
  line-height: 150%;
  display: inline-block;
  width: 90px;
  height: 24px;
}
.mask-group-icon3 {
  position: absolute;
  top: 0;
  left: 131px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.username4 {
  position: absolute;
  top: 8px;
  left: 1188px;
  width: 171px;
  height: 40px;
  text-align: right;
  font-family: var(--font-poppins);
}
.connections-child {
  position: absolute;
  top: 130px;
  left: 148px;
  border-radius: var(--br-3xs);
  width: 1146px;
  height: 787px;
}
.interface-add-square-square-r-icon {
  position: absolute;
  top: 812px;
  left: 286px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.hours-ago,
.in-touch {
  position: absolute;
  top: 7px;
  left: 260px;
  line-height: 150%;
}
.in-touch {
  top: 8px;
  left: 501px;
}
.avatar-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.name2 {
  position: absolute;
  top: 10px;
  left: 47px;
  text-align: left;
  display: inline-block;
  width: 211px;
  height: 32px;
  cursor: pointer;
}
.connection1-child {
  position: absolute;
  top: 6px;
  left: 718px;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 118px;
  height: 25px;
}
.student {
  position: absolute;
  top: 9px;
  left: 744px;
  text-align: left;
}
.connection1-item,
.delete-icon4 {
  position: absolute;
  top: 53.5px;
  left: 0;
  width: 855px;
  height: 1px;
}
.delete-icon4 {
  height: 42.04%;
  width: 2.28%;
  top: 12.04%;
  right: -0.05%;
  bottom: 45.93%;
  left: 97.78%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.connection1 {
  position: absolute;
  top: 234px;
  left: 280px;
  width: 923px;
  height: 54px;
}
.losing-touch,
.th-feb-2023 {
  position: absolute;
  top: 7px;
  left: 252px;
  line-height: 150%;
}
.losing-touch {
  top: 8px;
  left: 483px;
}
.name3 {
  position: absolute;
  top: 10px;
  left: 47px;
  text-align: left;
  display: inline-block;
  width: 211px;
  height: 32px;
}
.connection2-child {
  position: absolute;
  top: 8px;
  left: 718px;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 118px;
  height: 25px;
}
.landlord {
  position: absolute;
  top: 11px;
  left: 743px;
  text-align: left;
}
.connection2-item,
.delete-icon5 {
  position: absolute;
  top: 55.5px;
  left: 0;
  width: 855px;
  height: 1px;
}
.delete-icon5 {
  height: 40.54%;
  width: 2.28%;
  top: 16.96%;
  right: -0.05%;
  bottom: 42.5%;
  left: 97.78%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.connection2 {
  position: absolute;
  top: 304px;
  left: 280px;
  width: 923px;
  height: 56px;
}
.not-in-touch,
.th-may-2021 {
  position: absolute;
  top: 7px;
  left: 248px;
  line-height: 150%;
}
.not-in-touch {
  top: 8px;
  left: 485px;
}
.delete-icon6 {
  position: absolute;
  height: 40.54%;
  width: 2.28%;
  top: 13.39%;
  right: -0.05%;
  bottom: 46.07%;
  left: 97.78%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.connection3 {
  position: absolute;
  top: 376px;
  left: 280px;
  width: 923px;
  height: 56px;
}
.th-aug-2023 {
  position: absolute;
  top: 7px;
  left: 246px;
  line-height: 150%;
}
.other-renters1 {
  position: absolute;
  top: 11px;
  left: 724px;
  text-align: left;
}
.delete-icon7 {
  position: absolute;
  height: 40.54%;
  width: 2.27%;
  top: 13.39%;
  right: -0.05%;
  bottom: 46.07%;
  left: 97.79%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.connection4,
.connection5 {
  position: absolute;
  top: 448px;
  left: 276px;
  width: 927px;
  height: 56px;
}
.connection5 {
  top: 524px;
}
.other-renters2 {
  position: absolute;
  top: 11px;
  left: 725px;
  text-align: left;
}
.delete-icon9 {
  position: absolute;
  height: 40.54%;
  width: 2.27%;
  top: 15.18%;
  right: -0.05%;
  bottom: 44.29%;
  left: 97.79%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.connection6 {
  position: absolute;
  top: 596px;
  left: 276px;
  width: 927px;
  height: 56px;
}
.th-jul-2023 {
  position: absolute;
  top: 7px;
  left: 251px;
  line-height: 150%;
}
.connection7,
.delete-icon11 {
  position: absolute;
  top: 668px;
  left: 276px;
  width: 927px;
  height: 56px;
}
.delete-icon11 {
  height: 40.54%;
  width: 2.27%;
  top: 11.61%;
  right: -0.05%;
  bottom: 47.86%;
  left: 97.79%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.connection8 {
  position: absolute;
  top: 740px;
  left: 276px;
  width: 927px;
  height: 56px;
}
.add-new-connection {
  position: absolute;
  top: 810px;
  left: 316px;
  line-height: 150%;
  color: var(--color-gainsboro-200);
  text-align: left;
}
.name10 {
  position: absolute;
  left: 0;
}
.last-contact,
.name10,
.touch {
  top: 2px;
  line-height: 150%;
  font-weight: 500;
}
.last-contact {
  position: absolute;
  left: 213px;
}
.touch {
  left: 464px;
}
.bar2,
.tag,
.touch {
  position: absolute;
}
.tag {
  top: 0;
  left: 715px;
  line-height: 150%;
  font-weight: 500;
}
.bar2 {
  top: 191px;
  left: 326px;
  width: 742px;
  height: 23px;
  font-size: var(--font-size-sm);
  color: var(--color-lightgray);
  font-family: var(--font-poppins);
}
.heading-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  width: 1135px;
  height: 41px;
  mix-blend-mode: multiply;
}
.sort-by {
  font-weight: 500;
}
.sort-by-container {
  position: absolute;
  top: 4px;
  left: 55px;
  line-height: 150%;
}
.all,
.filters1 {
  position: absolute;
}
.filters1 {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-lightseagreen-100);
  width: 104px;
  height: 23.92px;
}
.all {
  top: 3.24px;
  left: 21.21px;
  display: inline-block;
  width: 61.57px;
  height: 14.56px;
}
.filter-all,
.filters2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 104px;
  height: 23.92px;
}
.filters2 {
  border-radius: var(--br-8xs);
  background-color: #c25a5a;
}
.registered {
  position: absolute;
  top: 3px;
  left: 7px;
  display: inline-block;
  width: 91px;
  height: 12px;
}
.filter-registered,
.filters3 {
  position: absolute;
  top: 0;
  left: 169px;
  width: 104px;
  height: 23.92px;
}
.filters3 {
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-400);
}
.made-up {
  position: absolute;
  top: 3px;
  left: 9px;
  display: inline-block;
  width: 83.64px;
  height: 19.09px;
}
.filter-madeup,
.filters {
  position: absolute;
  top: 0;
  left: 338px;
  width: 104px;
  height: 23.92px;
}
.filters {
  top: 6px;
  left: 361px;
  width: 442px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.filter {
  position: absolute;
  top: 4px;
  left: 258px;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  width: 62px;
}
.heading {
  position: absolute;
  top: 135px;
  left: 152px;
  width: 1135px;
  height: 41px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-1200);
  font-family: var(--font-poppins);
}
.search-bar-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-snow);
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.25);
  width: 222px;
  height: 25px;
}
.search1 {
  position: absolute;
  top: 3px;
  left: 12px;
  display: inline-block;
  width: 61px;
  height: 18px;
}
.search-bar {
  position: absolute;
  top: 141px;
  left: 1056px;
  width: 222px;
  height: 25px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
}
.crm2 {
  color: var(--color-white);
}
.connections-crm-container,
.showing-8-out {
  position: absolute;
  line-height: 150%;
  font-family: var(--font-poppins);
}
.connections-crm-container {
  top: 80px;
  left: 1078px;
  font-size: var(--font-size-xl);
  text-align: right;
  color: var(--color-lightseagreen-100);
}
.showing-8-out {
  top: 862px;
  left: 235px;
  font-size: var(--font-size-sm);
  font-weight: 500;
}
.page1-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-lightseagreen-100);
  width: 30px;
  height: 30px;
}
.div3 {
  position: absolute;
  top: 5px;
  left: 13px;
  line-height: 150%;
  font-weight: 500;
}
.page1,
.page2-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
}
.page2-child {
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
}
.div4 {
  position: absolute;
  top: 5px;
  left: 11px;
  line-height: 150%;
  font-weight: 500;
}
.page,
.page2 {
  position: absolute;
  top: 0;
  left: 36px;
  width: 30px;
  height: 30px;
}
.page {
  left: 72px;
}
.div6 {
  top: 5px;
  left: 9px;
  line-height: 150%;
  font-weight: 500;
}
.div6,
.div7,
.page31 {
  position: absolute;
}
.page31 {
  top: 0;
  left: 108px;
  width: 30px;
  height: 30px;
}
.div7 {
  top: 5px;
  left: 7px;
  line-height: 150%;
  font-weight: 500;
}
.page32,
.pages {
  position: absolute;
  top: 0;
  left: 144px;
  width: 30px;
  height: 30px;
}
.pages {
  top: 853px;
  left: 984px;
  width: 174px;
  text-align: left;
  font-size: var(--font-size-sm);
  font-family: var(--font-poppins);
}
.connections3 {
  position: relative;
  background-color: var(--color-gray-400);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inter);
}
