.forgot-password1 {
  position: absolute;
  top: 201px;
  left: 444px;
  font-size: var(--font-size-45xl);
  display: inline-block;
  width: 556px;
  height: 65px;
}
.email-field-inner {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 530px;
  height: 80px;
}
.resend-available {
  position: absolute;
  top: 128px;
  left: 114px;
  display: inline-block;
  width: 538px;
  height: 38px;
}
.resend1 {
  text-decoration: underline;
  color: rgba(28, 186, 189, 0.6);
}
.confirmation-code2,
.resend {
  position: absolute;
  top: 99px;
  left: 0;
  display: inline-block;
  width: 538px;
  height: 38px;
}
.confirmation-code2 {
  top: 22px;
  left: 18px;
  width: 281px;
  height: 26.57px;
}
.rectangle-icon {
  position: absolute;
  top: 458px;
  left: -5px;
  width: 530px;
  height: 80px;
}
.confirmation-code3 {
  position: absolute;
  top: 485px;
  left: 18px;
  display: inline-block;
  width: 281px;
  height: 26.57px;
}
.email-field2 {
  position: absolute;
  top: 319px;
  left: 468px;
  width: 652px;
  height: 533px;
  text-align: left;
  color: var(--color-floralwhite-200);
}
.login-button-inner {
  position: absolute;
  top: 0;
  left: 42px;
  border-radius: var(--br-xl);
  background-color: var(--color-lightseagreen-100);
  width: 145px;
  height: 64px;
}
.continue1,
.login-button2 {
  position: absolute;
  width: 228px;
}
.continue1 {
  top: 16px;
  left: 0;
  display: inline-block;
  height: 37px;
}
.login-button2 {
  top: 502px;
  left: 606px;
  height: 64px;
  cursor: pointer;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-500);
}
.event-of-wrong {
  position: absolute;
  top: 804px;
  left: 181px;
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 263px;
  height: 53px;
}
.forgot-password-page-2 {
  position: relative;
  background-color: var(--color-gray-600);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-lightseagreen-100);
  font-family: var(--font-inter);
}
