.profile-info-2-child {
  position: absolute;
  top: 349.85px;
  left: calc(50% - 161.15px);
  border-top: 0.3px solid #ff9a71;
  box-sizing: border-box;
  width: 35.3px;
  height: 0.3px;
}
.profile-info-2-item {
  position: absolute;
  top: 308px;
  left: calc(50% - 180px);
  border-radius: var(--br-3xs);
  background-color: var(--color-steelblue-100);
  width: 741px;
  height: 182px;
}
.profile-info-2-child1,
.profile-info-2-inner {
  position: absolute;
  top: 420.5px;
  left: 545px;
  width: 736px;
  height: 1px;
}
.profile-info-2-child1 {
  top: 315px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  width: 727px;
  height: 25px;
  mix-blend-mode: multiply;
}
.blah {
  position: absolute;
  top: 319px;
  left: calc(50% - 162px);
}
.experience-tab-icon {
  position: absolute;
  top: 113px;
  left: 160px;
  width: 360px;
  height: 587px;
}
.experience-tab-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 741px;
  height: 176px;
}
.interface-delete-bin-1-remove,
.interface-text-formatting-list {
  position: absolute;
  top: 12.57px;
  left: 39.11px;
  width: 28.82px;
  height: 6.29px;
  overflow: hidden;
}
.interface-delete-bin-1-remove {
  top: 136px;
  left: 29px;
  width: 14px;
  height: 14px;
}
.rectangle {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 729px;
  height: 44px;
}
.lastcontact,
.name,
.touchstatus {
  position: absolute;
  top: 17px;
  left: 55px;
  display: inline-block;
  width: 118px;
  height: 14px;
}
.lastcontact,
.touchstatus {
  left: 194px;
}
.touchstatus {
  left: 329px;
  width: 365px;
}
.interface-delete-bin-1-remove-icon {
  position: absolute;
  top: 15px;
  left: 18px;
  width: 14px;
  height: 14px;
  overflow: hidden;
}
.contact-history-1,
.experience-tab {
  position: absolute;
  top: 70px;
  left: 7px;
  width: 729px;
  height: 44px;
}
.experience-tab {
  top: 113px;
  left: 540px;
  width: 741px;
  height: 176px;
  font-size: var(--font-size-2xs);
  color: var(--color-gray-400);
  font-family: var(--font-inter);
}
.group-icon {
  position: absolute;
  height: 31.86%;
  width: 1.78%;
  top: 35.23%;
  right: 95.68%;
  bottom: 32.91%;
  left: 2.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.contact-history-2 {
  position: absolute;
  top: 234px;
  left: 547px;
  width: 729px;
  height: 44px;
  font-size: var(--font-size-2xs);
  color: var(--color-gray-400);
  font-family: var(--font-inter);
}
.notes-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 360px;
  height: 407px;
}
.discussed-how-to {
  margin: 0;
  padding-left: var(--padding-smi);
}
.discussed-how-to-container,
.discussed-how-to-container1 {
  position: absolute;
  top: 77px;
  left: calc(50% - 160px);
  letter-spacing: 0.01em;
  line-height: 142.02%;
  font-family: var(--font-inherit);
  color: var(--color-gainsboro-200);
  display: inline-block;
  width: 274px;
  height: 29.07px;
}
.discussed-how-to-container1 {
  top: 152px;
}
.aug-2nd,
.notes1 {
  position: absolute;
  top: 11px;
  left: calc(50% - 166px);
  font-size: var(--font-size-smi);
  display: inline-block;
  width: 39px;
  height: 18.69px;
}
.aug-2nd {
  top: 52px;
  left: calc(50% - 160px);
  font-size: var(--font-size-3xs);
  width: 41px;
  height: 14.54px;
}
.span1 {
  font-size: var(--font-size-2xs);
}
.sept-23rd {
  position: absolute;
  top: 126px;
  left: calc(50% - 160px);
  display: inline-block;
  width: 48px;
  height: 15.57px;
  font-size: var(--font-size-3xs);
}
.notes-item {
  position: absolute;
  top: 8px;
  left: 5px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  width: 350px;
  height: 24px;
  mix-blend-mode: multiply;
}
.notes {
  position: absolute;
  top: 505px;
  left: 921px;
  width: 360px;
  height: 407px;
  font-size: var(--font-inherit);
}
.contact-info-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  width: 181px;
  height: 20px;
  mix-blend-mode: multiply;
}
.blahemailcom,
.icon-mail {
  position: absolute;
  top: 112px;
  left: calc(50% - 44.9px);
}
.icon-mail {
  top: 114px;
  left: calc(50% - 81.5px);
  width: 16.56px;
  height: 11.79px;
}
.div2,
.icon-call1 {
  position: absolute;
  top: 75px;
  left: calc(50% - 44.9px);
}
.icon-call1 {
  top: 74px;
  left: calc(50% - 81.5px);
  width: 16.56px;
  height: 15px;
}
.house-street-city {
  position: absolute;
  top: 0;
  left: calc(50% - 54.5px);
  display: inline-block;
  width: 140px;
}
.address,
.blah1,
.icon-location-sharp {
  position: absolute;
  top: 0;
  left: calc(50% - 85.5px);
  width: 14.2px;
  height: 18px;
}
.address,
.blah1 {
  top: 33px;
  left: calc(50% - 80.5px);
  width: 171px;
}
.blah1 {
  top: 0;
  left: calc(50% - 78.5px);
  font-size: var(--font-size-smi);
  display: inline-block;
  color: var(--color-gray-1000);
  width: 85px;
  height: 19px;
}
.awdkmakwdka-wdaw-daw,
.contact-info,
.wdawfjkafnjkenjfnejfknakjenfjn {
  position: absolute;
  font-size: var(--font-size-3xs);
  color: var(--color-gainsboro-200);
}
.contact-info {
  top: 144px;
  left: 311px;
  width: 181px;
  height: 126px;
}
.awdkmakwdka-wdaw-daw,
.wdawfjkafnjkenjfnejfknakjenfjn {
  top: 357px;
  left: calc(50% - 534px);
  letter-spacing: 0.01em;
  line-height: 142.02%;
  display: inline-block;
  width: 274px;
}
.awdkmakwdka-wdaw-daw {
  top: 421px;
}
.about-me {
  position: absolute;
  top: 318px;
  left: calc(50% - 541px);
}
.group-item,
.profile-info-2-child2 {
  position: absolute;
  top: 316px;
  left: 165px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  width: 350px;
  height: 25px;
  mix-blend-mode: multiply;
}
.group-item {
  top: 0;
  left: 0;
  width: 726px;
}
.contact-history {
  position: absolute;
  top: 3px;
  left: calc(50% - 351px);
  display: inline-block;
  width: 142px;
  height: 22px;
}
.interface-arrows-button-up-ar {
  position: absolute;
  top: 7px;
  left: 680px;
  width: 14px;
  height: 14px;
  overflow: hidden;
}
.rectangle-group {
  position: absolute;
  top: 119px;
  left: 547px;
  width: 726px;
  height: 25px;
}
.interface-setting-menu-1-butt-icon {
  position: absolute;
  top: 124px;
  left: 1247px;
  width: 14px;
  height: 14px;
  overflow: hidden;
}
.description2,
.type {
  top: 0;
  display: inline-block;
  width: 170px;
}
.type {
  position: absolute;
  left: 0;
  height: 24px;
}
.description2 {
  left: 274px;
}
.date4,
.description2,
.fields {
  position: absolute;
  height: 24px;
}
.date4 {
  top: 0;
  left: 139px;
  display: inline-block;
  width: 170px;
}
.fields {
  top: 157px;
  left: 602px;
  width: 444px;
}
.experience-tab-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 740px;
  height: 196px;
}
.blah2 {
  position: absolute;
  top: 10px;
  left: calc(50% - 350px);
}
.experience-tab-inner {
  position: absolute;
  top: 6px;
  left: 7px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  width: 727px;
  height: 25px;
  mix-blend-mode: multiply;
}
.experience-tab-wrapper,
.experience-tab1,
.group-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 740px;
  height: 196px;
}
.experience-tab-wrapper,
.group-inner {
  top: 716px;
  left: 161px;
}
.group-inner {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightseagreen-100);
  width: 181px;
  height: 42.23px;
}
.contact-name {
  position: absolute;
  top: 11px;
  left: calc(50% - 60.5px);
  display: inline-block;
  width: 123px;
  height: 19px;
}
.rectangle-container {
  position: absolute;
  top: 645px;
  left: 250px;
  width: 181px;
  height: 42.23px;
  cursor: pointer;
  font-size: 15px;
}
.group-icon1 {
  position: absolute;
  height: 2.64%;
  width: 1.88%;
  top: 11.47%;
  right: 86.7%;
  bottom: 85.89%;
  left: 11.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child1 {
  position: absolute;
  top: 0;
  left: calc(50% - 180px);
  border-radius: var(--br-3xs);
  background-color: #49547b;
  width: 360px;
  height: 195px;
}
.experiences1 {
  margin: 0;
}
.experiences {
  position: absolute;
  top: 9px;
  left: calc(50% - 161px);
  display: inline-block;
  width: 91px;
  height: 9px;
}
.group-child2 {
  position: absolute;
  top: 6px;
  left: 5px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  width: 350px;
  height: 23.88px;
  mix-blend-mode: multiply;
}
.group-div {
  position: absolute;
  top: 505px;
  left: calc(50% - 180px);
  width: 360px;
  height: 195px;
}
.interface-setting-menu-1-butt-icon1 {
  position: absolute;
  top: 320px;
  left: 1247px;
  width: 14px;
  height: 14px;
  overflow: hidden;
}
.alan-gilbert-building1 {
  position: absolute;
  top: 13px;
  left: 542.99px;
  line-height: 150%;
  display: inline-block;
  width: 159.01px;
}
.date-child1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-1100);
  width: 50px;
  height: 50px;
}
.b3 {
  line-height: 150%;
}
.aug5 {
  margin: 0;
  line-height: 120%;
}
.aug4 {
  position: absolute;
  top: 4px;
  left: 12px;
  display: inline-block;
  width: 27px;
}
.date5,
.event-21 {
  position: absolute;
  height: 50px;
}
.date5 {
  top: 0;
  left: 0;
  width: 50px;
  text-align: center;
  font-size: var(--font-size-sm);
}
.event-21 {
  top: 366px;
  left: 545px;
  width: 702px;
  font-size: var(--font-size-2xs);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.assign-task,
.pm-3pm {
  position: absolute;
  top: 15px;
  left: 85px;
  line-height: 150%;
  display: inline-block;
  width: 175.92px;
}
.pm-3pm {
  left: 365.38px;
  font-family: var(--font-poppins);
  width: 103.19px;
}
.event-31 {
  position: absolute;
  top: 426px;
  left: 545px;
  width: 702px;
  height: 50px;
  font-size: var(--font-size-2xs);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.date7,
.description3,
.location1,
.time1 {
  position: absolute;
  top: 2px;
  left: 0;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  width: 39px;
}
.description3,
.location1,
.time1 {
  left: 90px;
  width: 86px;
}
.location1,
.time1 {
  left: 361px;
  width: 40px;
}
.location1 {
  top: 0;
  left: 538px;
  width: 72px;
}
.bar1 {
  position: absolute;
  top: 340px;
  left: 545px;
  width: 610px;
  height: 23px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-gray-1200);
  font-family: var(--font-poppins);
}
.navigation-bar-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-700);
  width: 1440px;
  height: 57px;
  opacity: 0.8;
  mix-blend-mode: multiply;
}
.connections1,
.dashboard1,
.profile1 {
  position: absolute;
  display: inline-block;
}
.profile1 {
  top: 16px;
  left: 428px;
  color: var(--color-lightseagreen-100);
  width: 135.58px;
  height: 30.39px;
  cursor: pointer;
}
.connections1,
.dashboard1 {
  top: 14px;
  left: 123px;
  width: 177.66px;
  height: 33.89px;
}
.connections1 {
  left: 267px;
  width: 201.03px;
}
.calendar1 {
  position: absolute;
  top: 16px;
  left: 564px;
  color: var(--color-white);
  cursor: pointer;
}
.dashboard-icon1 {
  position: absolute;
  top: 16px;
  left: 103px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  mix-blend-mode: color-dodge;
}
.navigation-bar1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 57px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-snow);
  font-family: var(--font-poppins);
}
.crm1 {
  color: var(--color-white);
}
.profile-crm-container {
  position: absolute;
  top: 70px;
  left: 1149px;
  font-size: var(--font-size-xl);
  line-height: 150%;
  font-family: var(--font-poppins);
  text-align: right;
  color: var(--color-lightseagreen-100);
}
.profile-info-2 {
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-400);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-gray-1000);
  font-family: var(--font-open-sans);
}
