.rectangle3 {
    position: absolute;
    top: 7.69rem;
    left: 23.69rem;
    border-radius: var(--br-3xs);
    background-color: var(--color-steelblue);
    width: 43.69rem;
    height: 48.88rem;
  }
  .continue2 {
    position: relative;
    font-size: var(--font-size-5xl);
    font-family: var(--font-inter);
    color: var(--color-gray);
    text-align: center;
  }
  .continue-button2,
  .email-field2 {
    position: absolute;
    box-sizing: border-box;
    display: flex;
  }
  .continue-button2 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-3xs);
    background-color: var(--color-lightseagreen);
    top: 28rem;
    left: 39.94rem;
    border-radius: var(--br-xl);
    width: 10.19rem;
    height: 4rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .email-field2 {
    border: 5px solid rgba(221, 222, 236, 0.6);
    font-family: var(--font-inter);
    font-size: var(--font-size-xl);
    background-color: transparent;
    top: 19.63rem;
    left: 28.94rem;
    border-radius: var(--br-8xs);
    width: 33.13rem;
    height: 5rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .forgot-password2 {
    position: absolute;
    top: 11.88rem;
    left: 27.38rem;
    display: inline-block;
    width: 37.13rem;
    height: 4.06rem;
  }
  .forgot-password-page-1 {
    position: relative;
    background-color: var(--color-lavender-100);
    width: 100%;
    height: 64rem;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-31xl);
    color: var(--color-lightseagreen);
    font-family: var(--font-poppins);
  }
  