.rectangle {
  position: absolute;
  top: 3.69rem;
  left: 23.19rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-steelblue);
  width: 43.69rem;
  height: 56.69rem;
}
.sign-up1 {
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
  color: var(--color-gray);
  text-align: center;
}
.sign-up-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-lightseagreen);
  position: absolute;
  top: 34.13rem;
  left: 10.88rem;
  border-radius: var(--br-xl);
  width: 9.06rem;
  height: 4rem;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.confirm-password-field,
.email-field,
.first-name-field,
.last-name-field,
.password-field {
  border: 5px solid var(--color-lavender-200);
  font-family: var(--font-inter);
  font-size: var(--font-size-xl);
  background-color: transparent;
  position: absolute;
  top: 24.69rem;
  left: -0.31rem;
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  width: 33.13rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.email-field,
.first-name-field,
.last-name-field,
.password-field {
  top: 18.44rem;
}
.email-field,
.first-name-field,
.last-name-field {
  top: 12.19rem;
}
.first-name-field,
.last-name-field {
  top: 5.94rem;
}
.first-name-field {
  top: -0.31rem;
}
.sign-up-form {
  position: absolute;
  top: 14.75rem;
  left: 28.94rem;
  width: 32.5rem;
  height: 38.13rem;
}
.dont-have-an,
.sign-up2,
.sign-up3 {
  display: inline-block;
  height: 4.06rem;
}
.sign-up2 {
  position: absolute;
  top: 7.44rem;
  left: 33.63rem;
  width: 22.38rem;
}
.dont-have-an,
.sign-up3 {
  position: relative;
  width: 19.5rem;
  flex-shrink: 0;
  z-index: 0;
}
.sign-up3 {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 18.63rem;
  color: var(--color-lightseagreen);
  width: 7.81rem;
  height: 2.44rem;
  z-index: 1;
}
.login-redirect {
  position: absolute;
  top: 55.44rem;
  left: 31.94rem;
  display: flex;
  flex-direction: row;
  padding: 0 0.31rem;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-6xl);
  color: var(--color-white);
}
.sign-up {
  position: relative;
  background-color: var(--color-lavender-100);
  width: 100%;
  height: 64rem;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-lightseagreen);
  font-family: var(--font-inter);
}
