@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gilroy:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-gilroy: Gilroy;
  --font-inter: Inter;
  --font-poppins: Poppins;
  --font-open-sans: "Open Sans";
  --font-inherit: inherit;
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-5xl: 24px;
  --font-size-xl: 20px;
  --font-size-45xl: 64px;
  --font-size-base: 16px;
  --font-size-6xl: 25px;
  --font-size-lg: 18px;
  --font-size-smi: 13px;
  --font-size-13xl: 32px;
  --font-size-xs: 12px;
  --font-size-3xs: 10px;
  --font-size-2xs: 11px;
  --font-size-11xl: 30px;
  --font-size-7xl: 26px;

  /* Colors */
  --color-gray-100: #f9fcff;
  --color-gray-200: #808080;
  --color-gray-300: #7c7c7c;
  --color-gray-400: #272640;
  --color-gray-500: #262541;
  --color-gray-600: #25243f;
  --color-gray-700: #25243c;
  --color-gray-800: rgba(255, 255, 255, 0.5);
  --color-gray-900: rgba(39, 38, 64, 0.8);
  --color-gray-1000: rgba(255, 255, 255, 0.82);
  --color-gray-1100: rgba(255, 255, 255, 0.2);
  --color-gray-1200: rgba(255, 255, 255, 0.8);
  --color-white: #fff;
  --color-lightseagreen-100: #1cbabd;
  --color-floralwhite-100: #fffaf4;
  --color-floralwhite-200: rgba(255, 248, 240, 0.6);
  --color-darkslategray-100: #3f4769;
  --color-darkslategray-200: #303030;
  --color-gainsboro-100: #e7e7e7;
  --color-gainsboro-200: #d9d9d9;
  --color-steelblue-100: #4a547b;
  --color-snow: #fffcf8;
  --color-darkgray: rgba(180, 171, 171, 0.66);
  --color-lightgray: rgba(210, 210, 210, 0.8);

  /* Paddings */
  --padding-smi: 13px;

  /* border radiuses */
  --br-xl: 20px;
  --br-3xs: 10px;
  --br-8xs: 5px;
  --br-6xl: 25px;
}
