.tasks {
    position: relative;
    height: 70%;
    width: 32%;
    align-items: flex-start;
    font-size: var(--font-size-sm);
    color: var(--color-gray-200);
    font-family: var(--font-inter);
    background-color: var(--color-lightslategray);
    border-radius: 15px;

}


.tasks table {
    position: relative;
    height: 85%;
    width: 100%;
    border-spacing: 10px 10px;
    display: block;
    overflow-y: auto;
}

.row-wrapper {
    position: relative;
    width: 100%;
    margin: 0.5rem 0rem;
    background-color: white;
    border-radius: 15px;
    vertical-align: middle;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.25);
}

.tick-task-done {
    position: relative;
    top: 8px;
    width: 13px;
    height: 13px;
    object-fit: cover;
}

.delete-icon {
    position: relative;
    width: 13px;
    height: 14.02px;
    object-fit: cover;
    cursor: pointer;
}

.delete-button {
    background-color: white;
    border: none;
    right: 10px;
    cursor: pointer;
}

.tasks tbody {
    position: relative;
    padding: var(--padding-xxs);
    align-items: center;
    color: black;
    width: 100%;

}

.add-task {
    position: absolute;
    right: 0px;
    font-size: var(--font-size-sm);
    padding: 5px 10px;
    color: var(--color-white);
    text-align: center;
    font-family: var(--font-poppins);
    float: right;
    margin: -3px 10px;
    cursor: pointer;
    background-color: var(--color-lightseagreen);
    border-radius: 5px;
    border: none;
    float: right;
    
}

.task-container {
    width: 100%;
}