.interface-calendar-blank-cale-icon {
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}

.events-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.events-header > div {
    margin: 0.2rem 1rem;
}

.events-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.event {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0.2rem 1rem;
}

.show-more {
    cursor: pointer;
    text-decoration: none;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
    text-align: left;
    font-size: var(--font-size-smi);
    color: inherit;
    font-family: var(--font-open-sans);
}

.location {
    font-size: var(--font-size-sm);
    font-weight: 500;
}

.time {
    color: white;
    position: relative;
    line-height: 150%;
    font-weight: 500;
}

.date {
    border-radius: var(--br-3xs);
    background-color: #A0A7C3;
    display: flex;
    flex-direction: column;
    padding: var(--padding-9xs) var(--padding-xs);
    align-items: center;
    justify-content: center;
}

.upcoming-events {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    position: relative;
    height: 35%;
    width: 88%;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-3xs);
    text-align: center;
    font-size: var(--font-size-base);
    background-color: var(--color-lightslategray);
    border-radius: 15px;
    font-family: var(--font-inter);
}