.interface-calendar-icon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}

.show-more {
  position: absolute;
  top: 286px;
  left: 31px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-smi);
  font-family: var(--font-open-sans);
}
.event-row {
  display: grid;
  grid-template-columns: 10% 35% 8% 8% 30%;
  grid-column-gap: 2%;
  border-bottom-style: dashed;
  border-color:#A0A7C3;
  height: 42px;
  margin-bottom: 10px;
}
.event-text{
  overflow: hidden;
}
.event-date{
  background-color:#A0A7C3;
  padding-top: 8px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
}
.event-bar{
  display: grid;
  position: relative;
  width:100%;
  grid-template-columns: 10% 35% 18% 20%;
  grid-column-gap: 2%;
  font-family: var(--font-poppins);
  font-size: var(--font-size-base);
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 20px;
}
.event-container {
  position: relative;
  top: 10%;
  left: 4%;
  width: 92%;
  max-height: 72%;
  overflow: scroll;
}

.event-header,
.upcoming-events {
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
.event-header {
  top: 1.5%;
  left: 0.5%;
  width:99%;
  border-radius: var(--br-3xs);
  background-color: var(--color-slategray);
  padding: var(--padding-12xs) var(--padding-sm);
  box-sizing: border-box;
  font-size: var(--font-size-lg);
  font-family: var(--font-poppins);
}
.upcoming-events {
  top: 77%;
  left: 10.5%;
  height: 42%;
  width: 80.5%;
  gap: var(--gap-3xs);
  font-size: var(--font-size-base);
  background-color: var(--color-lightslategray);
  border-radius: 15px;
  font-family: var(--font-inter);
}
