.rectangle2 {
  position: absolute;
  top: 127px;
  left: 389px;
  border-radius: var(--br-3xs);
  background-color: var(--color-steelblue);
  width: 679px;
  height: 800px;
}
.confirmation-code-field-2 {
  border: 5px solid rgba(142, 71, 88, 0.5);
  font-family: var(--font-inter);
  font-size: var(--font-size-xl);
  background-color: transparent;
  position: absolute;
  top: 787px;
  left: 477px;
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  width: 520px;
  height: 70px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.event-of-wrong,
.resend-available {
  position: absolute;
  top: 714px;
  left: 465px;
  display: inline-block;
  width: 263px;
  height: 53px;
}
.resend-available {
  top: 29px;
  left: 114px;
  width: 538px;
  height: 38px;
}
.resend1 {
  text-decoration: underline;
  color: var(--color-lightseagreen);
}
.resend,
.text {
  position: absolute;
}
.resend {
  top: 0;
  left: 0;
  display: inline-block;
  width: 538px;
  height: 38px;
}
.text {
  top: 435px;
  left: 468px;
  width: 652px;
  height: 67px;
  color: var(--color-floralwhite);
}
.continue1 {
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
  color: var(--color-gray);
  text-align: center;
}
.confirmation-code-field,
.continue-button1 {
  position: absolute;
  box-sizing: border-box;
  display: flex;
}
.continue-button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-lightseagreen);
  top: 191px;
  left: 171px;
  border-radius: var(--br-xl);
  width: 163px;
  height: 64px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.confirmation-code-field {
  border: 5px solid var(--color-lavender-200);
  font-family: var(--font-inter);
  font-size: var(--font-size-xl);
  background-color: transparent;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  width: 520px;
  height: 70px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.send-confirmation-code-form {
  position: absolute;
  top: 336px;
  left: 468px;
  width: 520px;
  height: 255px;
}
.forgot-password1 {
  position: absolute;
  top: 201px;
  left: 440px;
  font-size: var(--font-size-31xl);
  font-family: var(--font-poppins);
  color: var(--color-lightseagreen);
  text-align: center;
  display: inline-block;
  width: 576px;
  height: 65px;
}
.forgot-password-page-2 {
  position: relative;
  background-color: var(--color-lavender-100);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
