.rectangle1 {
  position: absolute;
  top: 121px;
  left: 382px;
  border-radius: var(--br-3xs);
  background-color: var(--color-steelblue);
  width: 699px;
  height: 782px;
}
.continue {
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
  color: var(--color-gray);
  text-align: center;
}
.continue-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-lightseagreen);
  position: absolute;
  top: 324px;
  left: 171px;
  border-radius: var(--br-xl);
  width: 163px;
  height: 64px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.confirm-new-password-field,
.email-field1,
.new-password-field {
  border: 5px solid var(--color-lavender-200);
  font-family: var(--font-inter);
  font-size: var(--font-size-xl);
  background-color: transparent;
  position: absolute;
  top: 195px;
  left: -5px;
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  width: 530px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.email-field1,
.new-password-field {
  top: 95px;
}
.email-field1 {
  top: -5px;
}
.forgot-password,
.reset-password-form {
  position: absolute;
  top: 326px;
  left: 471px;
  width: 520px;
  height: 388px;
}
.forgot-password {
  top: 201px;
  left: 437px;
  display: inline-block;
  width: 573px;
  height: 65px;
}
.forgot-password-page-3 {
  position: relative;
  background-color: var(--color-lavender-100);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-lightseagreen);
  font-family: var(--font-poppins);
}
