.connections {
    margin: 0 auto;
    background-color: var(--color-lavender);
    width: 90vw;
    display: block;
    overflow: auto;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-white);
    font-family: var(--font-poppins);
    
}

.heading {
    font-family: var(--font-poppins);
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: -20px;
    vertical-align: middle;
    text-align: left;
    font-size: var(--font-size-lg);
    margin: 0px !important;
    border-radius: var(--br-3xs);
    background-color: var(--color-div-heading);
    padding-top: 5px;
}

.searchBar {
    border: 0;
    font-size: var(--font-size-sm);
    background-color: white;
    margin-right: 3%;
    margin-top: 7px;
    border-radius: var(--br-xl);
    width: 25%;
    height: 25px;
    padding: 1px 3px;
    font-family: var(--font-poppins);
}

.connectionsContainer{
    margin-top: 2%;
    padding-bottom: 4rem;
    margin-bottom: 2%;
    position: relative;
    width: 85vw;
    box-shadow: 2px 3px 8px #26314d44;
    background: linear-gradient(to bottom right, var(--color-div-background), var(--color-div-background), #7683b0);
    border-radius: 15px;
}

.connectionlist {
    height: 55vh;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-left: 5%;
    width: 90%;
    margin-bottom: 2rem;
    display: block;
}

.bar {
    background-color: transparent;
    text-align: left;
    margin-top: 15px;
    margin-left: 70px;
    display: grid;
    grid-template-columns: 12% 35% 5% 35%;
}

.name,
.lastContact,
.touch,
.tag {
    cursor: pointer;
    background-color: transparent;
    font-size: var(--font-size-sm);
    font-family: var(--font-poppins);
    color: rgba(255, 255, 255, 0.814);
    border: none;
}

.sortByContainer {
    position: relative;
    width: 22%;
    margin: 10px 3%;
    font-family: var(--font-poppins);
}


.filterAll {
    position: relative;
    font-size: var(--font-size-sm);
    color: black;
    text-align: center;
    display: inline-block;
    border-radius: var(--br-8xs);
    background-color: var(--color-lightseagreen);
    font-family: var(--font-poppins);
    width: 104px;
    height: 23.92px;
    cursor: pointer;
    border: 0;
    padding: 0;
}

.filterRegistered {
    cursor: pointer;
    border: 0;
    padding: 0;
    border-radius: var(--br-8xs);
    background-color: rgba(110, 215, 137, 0.823);
    position: relative;
    font-size: var(--font-size-sm);
    font-family: var(--font-poppins);
    color: black;
    text-align: center;
    display: inline-block;
    width: 104px;
    height: 23.92px;
}

.filterMadeup {
    cursor: pointer;
    border: 0;
    padding: 0;
    border-radius: var(--br-8xs);
    background-color: #eeb868;
    font-size: var(--font-size-sm);
    font-family: var(--font-poppins);
    color: black;
    text-align: center;
    display: inline-block;
    width: 104px;
    height: 23.92px;
}

.filters {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.filters > button {
    margin: 0 2%;
}

.filter {
    position: relative;
    line-height: 150%;
    font-weight: 500;
    display: inline-block;
    width: 62px;
    font-family: var(--font-poppins);
}

.filterContainer {
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin: 7px 7%;
    width: 60%;
}

.connectionsFooter {
    position: absolute;
    bottom: 2%;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0% -7%;
    font-size: 15px;
    align-items: flex-end;
}

@media (max-width: 900px) {
    .heading {
        font-size: 15px;
    }

    .filters > button {
        font-size: 13px;
        width: 90px;
    }

    .searchBar {
        font-size: 13px;
    }
    
}


@media (max-width: 750px) {
    .connections {
        height: 100vh;
    }

    .filterContainer {
        flex-direction: column;
        align-items: center;
    }

    .filters {
        flex-direction: column;
        align-items: center;
    }

    .filters > button {
        margin: 1% 2%;
        width: 70%;
        font-size: 15px;
    }

    .heading {
        flex-direction: column;
        height: 240px;
        align-items: center;
        font-size: var(--font-size-lg);;
    }

    .heading > * {
        width: 100%;
    }

    .sortByContainer {
        text-align: center;
    }

    .searchBar {
        width: 70%;
        margin: 1% 2%;
    }

    .bar {
        margin-left: 5%;
        grid-template-columns: 15% 30% 8% 35%;
    }
}
