
.name {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    font-family: var(--font-inter);
    color: var(--color-white-100);
    text-align: left;
    width: 90%;
    height: 32px;
}

.delete {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    height: 40.19%;
    width: 2.17%;
}

.connectionitem {
    position: relative;
    gap: var(--gap-3xs);
    color: #656C86;
    font-size: var(--font-size-sm);
    justify-content: center;
    align-items: center;
    width: 99%;
    margin: 0.5rem 0rem;
    padding: 0.2rem;
    background-color: white;
    vertical-align: middle;
    border-radius: var(--br-3xs);
    height: 45px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 25% 20% 20% 20% 5%;
    text-align: left;
}
.del-button {
    position: relative;
    width: 13px;
    height: 14.02px;
    object-fit: cover;
    cursor: pointer;
}

@media (max-width: 500px) {
    .connectionitem, .name {
        font-size: 12px;
    }
}

/* .mask-group-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    object-fit: cover;
} */
/* 
.vector-icon3,
.vector-icon4,
.vector-icon5 {
    position: absolute;
    height: 66.05%;
    width: 80%;
    top: 36.25%;
    right: 10%;
    bottom: -2.3%;
    left: 10%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
} */

/* .vector-icon4,
.vector-icon5 {
    height: 4.61%;
    width: 105%;
    top: 20.89%;
    right: -2.5%;
    bottom: 74.5%;
    left: -2.5%;
}

.vector-icon5 {
    height: 27.65%;
    width: 46.67%;
    top: -2.3%;
    right: 27%;
    bottom: 74.65%;
    left: 26.33%;
} */