.confirm {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 150%;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: right;
}
.cancelEditButton,
.confirmEditButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-11xs) var(--padding-4xs);
  background-color: var(--color-lightseagreen);
  margin: 0 !important;
  position: absolute;
  top: 449px;
  left: 351px;
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 6;
}
.cancelEditButton {
  padding: var(--padding-11xs) var(--padding-smi);
  left: 9px;
  z-index: 6;
}
.address,
.phoneNumber {
  border-radius: var(--br-3xs);
  display: flex;
}
.address {
  border: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-sm);
  background-color: var(--color-gainsboro);
  margin: 0 !important;
  position: absolute;
  top: 9px;
  left: 9px;
  width: 417px;
  height: 25px;
  flex-direction: row;
  padding: var(--padding-12xs) var(--padding-4xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 6;
}
.phoneNumber {
  top: 49px;
  z-index: 6;
}
.email,
.mainContact,
.phoneNumber {
  border: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-sm);
  background-color: var(--color-gainsboro);
  margin: 0 !important;
  position: absolute;
  left: 9px;
  width: 417px;
  height: 25px;
  flex-direction: row;
  padding: var(--padding-12xs) var(--padding-4xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.email {
  top: 89px;
  border-radius: var(--br-3xs);
  display: flex;
  z-index: 6;
}
.mainContact {
  top: 409px;
  z-index: 6;
}
.aboutMe,
.aboutMeEditPopUp,
.mainContact {
  border-radius: var(--br-3xs);
  display: flex;
}
.aboutMe {
  border: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-sm);
  background-color: var(--color-gainsboro);
  margin: 0 !important;
  position: absolute;
  top: 129px;
  left: 9px;
  width: 417px;
  height: 265px;
  flex-direction: row;
  padding: var(--padding-12xs) var(--padding-4xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 6;
}
.aboutMeEditPopUp {
  width: 435px;
  height:  500px;
  left: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  gap: var(--gap-3xs);
  z-index: 6;
  background-color: white;
  box-shadow: 0px 0px 30px #26314d95;
}
