.blahemailcom {
  position: absolute;
  top: 0;
  left: calc(50% - 20.7px);
}
.iconMail {
  top: 2px;
  left: calc(50% - 57.3px);
  width: 16.56px;
  height: 11.79px;
}
.div,
.email,
.iconMail {
  position: absolute;
}
.email {
  top: 112px;
  left: calc(50% - 79px);
  width: 114.6px;
  height: 14px;
}
.div {
  top: 1px;
  left: calc(50% - 14.7px);
}
.iconCall,
.phoneNumber {
  position: absolute;
  top: 0;
  left: calc(50% - 51.3px);
  width: 16.56px;
  height: 15px;
}
.phoneNumber {
  top: 74px;
  left: calc(50% - 79px);
  width: 102.6px;
}
.houseStreetCity {
  position: absolute;
  top: 0;
  left: calc(50% - 54.5px);
  display: inline-block;
  width: 140px;
}
.address,
.iconLocationSharp {
  position: absolute;
  top: 0;
  left: calc(50% - 85.5px);
  width: 14.2px;
  height: 18px;
}
.address {
  top: 33px;
  left: calc(50% - 78px);
  width: 171px;
}
.headerChild {
  position: relative;
  width: 100%;
  border-radius: var(--br-3xs);
  background-color: var(--color-div-heading);
  width: 181px;
  height: 20px;
  mix-blend-mode: normal;
}
.blah,
.header,
.headerChild {
  position: absolute;
  top: 0;
}
.blah {
  left: calc(50% - 73.5px);
  display: inline-block;
  width: 200px;
  height: 19px;
}
.header {
  left: 0;
  width: 181px;
  height: 20px;
  font-size: var(--font-size-smi);
}
.contactInfo {
  position: relative;
  width: 186px;
  height: 126px;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
  font-family: var(--font-poppins);
}