.contactHistorySectionChild {
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 179px;
    z-index: 0;
}

.headerChild {
    position: relative;
    border-radius: var(--br-3xs);
    background-color: var(--color-div-heading);
    width: 100%;
    height: 35px;
    mix-blend-mode: normal;
    margin-top: -1%;
}

.contactHistory {
    position: absolute;
    top: 3px;
    left: calc(50% - 351px);
    display: inline-block;
    width: 100%;
    height: 22px;
}

.groupIcon {
    position: relative;
    width: 14px;
    height: 11px;
}

.historyButton {
    position: absolute;
    top: 5px;
    left: 700px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: var(--padding-11xs) var(--padding-12xs);
    align-items: center;
    justify-content: center;
}

.header {
    position: absolute;
    margin: 0 !important;
    top: 6px;
    left: 0px;
    width: 100%;
    height: 25px;
    margin-top: -1%;
    z-index: 3;
}

.description,
.type {
    top: 0;
    display: inline-block;
    width: 170px;
}

.type {
    position: absolute;
    left: 0;
    height: 24px;
}

.description {
    left: 274px;
}

.date,
.description,
.detailBar {
    position: absolute;
    height: 24px;
}

.date {
    top: 0;
    left: 139px;
    display: inline-block;
    width: 170px;
}

.detailBar {
    margin: 0 !important;
    top: 44px;
    left: 62px;
    width: 444px;
    z-index: 4;
}

.contactHistorySection {
    border-radius: var(--br-3xs);
    box-shadow: 2px 3px 8px #26314d44;
    background: linear-gradient(to bottom right, var(--color-div-background), var(--color-div-background), #7683b0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
    text-align: left;
    font-size: var(--font-size-smi);
    color: var(--color-gray-600);
    font-family: var(--font-poppins);
    margin-bottom: 2%;
    width: 95%;
}