.contactInfoContent {
    display: flex;
    flex-direction: column;
}

.address, .email, .phoneNumber {
    margin: 5%;
    display: flex;
    flex-direction: row;
}

.iconLocation, .iconMail, .iconCall {
    width: 13px;
}

.addressText, .emailText, .phoneNumberText {
    margin-left: 5%;
}

.header {
    margin: 0 !important;
    border-radius: 7px;
    background-color: var(--color-div-heading);
    width: 100%;
    padding: 3px 10px;
    margin: 1rem;
    text-align: left;
    font-size: 15px;
    color: var(--color-white);
    font-family: var(--font-poppins);
    position: relative;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
}

.contactInfo {
    position: relative;
    width: 70%;
    height: 126px;
    text-align: left;
    font-size: var(--font-size-smi);
    color: var(--color-white);
    font-family: var(--font-poppins);
}

@media (max-width: 1000px) {
    .contactInfo {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 5%;
    }
}

@media (max-width: 700px) {
    .contactInfo {
        margin-left: 0;
        width: 70%;
        margin-bottom: 0%;
    }
}

@media (max-width: 400px) {
    .contactInfo {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 5%;
    }
}