.aboutMeWrapper,
.profilePicAndContactInfo {
    display: flex;
    align-items: center;
}

.profilePicAndContactInfo {
    flex-direction: row;
    justify-content: center;
    gap: var(--gap-5xs);
}

.aboutMeWrapper {
    flex-direction: column;
    justify-content: flex-start;
    font-size: var(--font-size-smi);
    color: var(--color-gray-600);
}

.contactName {
    text-align: center;
    font-size: var(--font-size-mini);
    color: var(--color-gray-600);
    border: none;
}

.contactNameButton,
.frameParent {
    position: absolute;
    border-radius: var(--br-3xs);
}

.contactNameButton {
    cursor: pointer;
    border: none;
    margin: 0;
    bottom: 2%;
    font-size: 13px;
    padding: 10px 15px;
    background-color: var(--color-lightseagreen);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    font-family: var(--font-poppins);
    outline: none;
    align-self: center;
}


.contactNameButton:hover {
    background-color: var(--color-darkcyan);
}

.frameParent {
    position: relative;
    box-shadow: 2px 3px 8px #26314d44;
    background: linear-gradient(to bottom right, var(--color-div-background), var(--color-div-background), #7683b0);
    text-align: left;
    font-size: var(--font-size-xs);
    color: var(--color-gray-100);
    font-family: var(--font-open-sans);
    display: inline-flex;
    flex-direction: column;
    padding: 5%;
    height: 100%;
    width: 100%;
    font-family: var(--font-poppins);
}

.frameParent > div {
    margin: 5%;
}


.editButton {
    font-family: var(--font-poppins);
    background-color: var(--color-lightseagreen);
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: var(--br-3xs);
    margin-left: auto;
    width: 30px;
    font-size: 12px;
    position: absolute;
    right: 5%;
}

@media (max-width: 1000px) {
    .profilePicAndContactInfo {
        display: inline;
    }
}

@media (max-width: 750px) {
    .profilePicAndContactInfo {
        display: flex;
    }
}

@media (max-width: 400px) {
    .profilePicAndContactInfo {
        display: inline;
    }
}