.aboutMeWrapper,
.profilePicParent {
    display: flex;
    align-items: center;
}

.profilePicParent {
    flex-direction: row;
    justify-content: center;
    gap: var(--gap-5xs);
}

.aboutMeWrapper {
    flex-direction: column;
    justify-content: flex-start;
    font-size: var(--font-size-smi);
    color: var(--color-gray-600);
}

.contactName {
    position: relative;
    font-size: var(--font-size-mini);
    font-family: var(--font-open-sans);
    color: var(--color-gray-600);
    text-align: left;
}

.contactNameButton,
.frameParent {
    position: absolute;
    border-radius: var(--br-3xs);
}

.contactNameButton {
    cursor: pointer;
    border: 0;
    padding: var(--padding-2xs) var(--padding-9xl);
    background-color: var(--color-lightseagreen);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
}

.contactNameButton:hover {
    background-color: var(--color-darkcyan);
}

.frameParent {
    position: relative;
    box-shadow: 2px 3px 8px #26314d44;
    background: linear-gradient(to bottom right, var(--color-div-background), var(--color-div-background), #7683b0);
    text-align: left;
    font-size: var(--font-size-xs);
    color: var(--color-gray-100);
    font-family: var(--font-open-sans);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 70%;
}

.frameParent > div {
    margin: 5%;
}