.eventDescription {
    width: 31%;
}

.eventLocation,
.eventTime,
.eventDescription {
    height: 16.63px;
}

.eventTime {
    font-family: var(--font-poppins);
    width: 20%;
}

.eventLocation {
    width: 30%;
}

.eventDate {
    padding: 12px 6px;
    margin-left: 3%;
    width: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
    height: 20px;
    text-align: left;
    font-size: var(--font-size-sm);
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.groupIcon {
    position: relative;
    width: 17.71px;
    height: 17.35px;
    cursor: pointer;
}

.eventButton {
    padding: var(--padding-12xs);
    cursor: pointer;
}

.event {
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    text-align: left;
    font-size: 13px;
    color: var(--color-white);
    font-family: var(--font-inter);
    display: flex;
    flex-direction: row;
}