.expBackground {
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightslategray);
  width: 360px;
  height: 407px;
  z-index: 0;
}
.experiences1 {
  margin: 0;
}
.experiences {
  position: relative;
  display: inline-block;
  width: 91px;
  height: 18.78px;
  flex-shrink: 0;
}
.groupIcon {
  position: relative;
  width: 14px;
  height: 13px;
}
.addExperienceButton,
.header {
  display: flex;
  align-items: center;
}
.addExperienceButton {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-12xs);
  background-color: transparent;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
}
.header {
  margin: 0 !important;
  position: absolute;
  top: 8px;
  left: 5px;
  border-radius: var(--br-3xs);
  background-color: var(--color-slategray);
  flex-direction: row;
  padding: var(--padding-12xs) var(--padding-5xs);
  justify-content: flex-start;
  gap: var(--gap-205xl);
  z-index: 1;
}
.experienceSection,
.individualExperiences {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}
.individualExperiences {
  margin: 0 !important;
  position: absolute;
  top: 40px;
  left: 0;
  width: 360px;
  height: 367px;
  padding: 0 var(--padding-5xl) var(--padding-29xl);
  box-sizing: border-box;
  align-items: flex-start;
  gap: var(--gap-xl);
  z-index: 2;
  font-size: var(--font-inherit);
  color: var(--color-white);
  font-family: var(--font-inherit);
  margin-left: 20px;
}
.experienceSection {
  border-radius: var(--br-3xs);
  background-color: var(--color-lightslategray);
  align-items: center;
  position: relative;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-gray-600);
  font-family: var(--font-open-sans);
  margin-left: 10px;
}
