.header {
    margin: 0 !important;
    border-radius: 7px;
    background-color: var(--color-div-heading);
    width: 100%;
    padding: 7px 15px;
    margin: 1rem;
    text-align: right;
    font-size: 15px;
    color: var(--color-white);
    font-family: var(--font-poppins);
    position: relative;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
}

.noteSection table {
    position: relative;
    height: 80%;
    border-spacing: 10px 10px;
    display: block;
    overflow-y: scroll;
    color: white;
}

.notes {
    margin-left: 5px;
    top: 5px;
    position: relative;
}

.noteTable {
    position: relative;
}

.groupIcon {
    position: relative;
    width: 14px;
    height: 13px;
}

.addNoteButton {
    color: white;
    position: absolute;
    right: 5px;
    flex-direction: column;
    padding: 0 var(--padding-12xs);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--color-lightseagreen);
    border: none;
    padding: 5px 7px;
    border-radius: 5px;
}

.individualNotes {
    position: absolute;
    top: 6px;
    left: 4px;
    width: 350px;
    height: 24px;
}

.individualNotes {
    top: 37px;
    left: 0;
    border-radius: var(--br-3xs);
    width: 359px;
    height: 369px;
    display: flex;
    flex-direction: column;
    padding: 0 var(--padding-8xl) var(--padding-27xl);
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xl);
    font-size: var(--font-inherit);
    color: var(--color-white);
    font-family: var(--font-inherit);
}

.noteSection {
    position: relative;
    width: 47%;
    height: 100%;
    text-align: left;
    font-size: var(--font-size-smi);
    color: var(--color-gray-600);
    font-family: var(--font-poppins);
    margin: 10px 10px 0px 0px;
    border-radius: 7px;
    box-shadow: 2px 3px 8px #26314d44;
    background: linear-gradient(to bottom right, var(--color-div-background), var(--color-div-background), #7683b0);
}

.deleteIcon {
    position: relative;
    width: 13px;
    height: 14.02px;
    object-fit: cover;
    color: white;
}

.deleteButton {
    background-color: inherit;
    border: none;
}