.header {
  position: relative;
  background-color: var(--color-div-heading);
  padding:2px;
  border-radius: 10px;
}
.noteSection table {
  position: relative;
  height:80%;
  border-spacing: 10px 10px;
  display: block;
  overflow-y: scroll;
}
.notes {
  margin-left:5px;
  font-weight:bold;
}
.noteTable {
  position:relative;
}
.headerBackground,
.noteBackground {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-div-heading);
  width: 359px;
  height: 406px;
}
.headerBackground {
    background-color: var(--color-div-heading);
  width: 350px;
  height: 24px;
  mix-blend-mode: normal;
}

.groupIcon {
  position: relative;
  width: 14px;
  height: 13px;
}
.addNoteButton {
  position: absolute;
  top: 3px;
  left: 320px;
  width: 14.84px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.individualNotes {
  position: absolute;
  top: 6px;
  left: 4px;
  width: 350px;
  height: 24px;
}
.individualNotes {
  top: 37px;
  left: 0;
  border-radius: var(--br-3xs);
  width: 359px;
  height: 369px;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-8xl) var(--padding-27xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-inherit);
  color: var(--color-white);
  font-family: var(--font-inherit);
}
.noteSection {
  position: relative;
  width: 45%;
  height: 50%;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-gray-600);
  font-family: var(--font-open-sans);
  margin: 10px;
  border-radius: 7px;
  box-shadow: 2px 3px 8px #26314d44;
    background: linear-gradient(to bottom right, var(--color-div-background), var(--color-div-background), #7683b0);
}

.deleteIcon {
  position: relative;
  width: 13px;
  height: 14.02px;
  object-fit: cover;
}