.maskGroupIcon {
  position: relative;
  width: 95px;
  height: 95px;
  object-fit: cover;
}
.jobPosition,
.nameLastname {
  position: relative;
  font-weight: 600;
  color: white;
  font-family: var(--font-poppins);
}
.jobPosition {
  font-size: var(--font-size-3xs);
  font-weight: 300;
}
.maskGroupParent,
.nameLastnameParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.nameLastnameParent {
  font-size: 12px;
  overflow: hidden;
  padding: 0 var(--padding-6xs);
  gap: var(--gap-11xs);
}
.maskGroupParent {
  gap: var(--gap-3xs);
}
.vectorIcon {
  position: relative;
  width: 16px;
  height: 15.9px;
  cursor: pointer;
}
.facebookButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: inherit;
}
.vectorIcon1 {
  position: relative;
  width: 16px;
  height: 16px;
  z-index: 0;
  cursor: pointer;
}

.vectorIcon3 {
  position: absolute;
  margin: 0 !important;
  height: 12.5%;
  width: 12.5%;
  top: 16.67%;
  right: 16.67%;
  bottom: 70.83%;
  left: 70.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  height: 40%;
  width: 40%;
  top:30%;
  left: 30%;
  z-index: 2;
  cursor: pointer;
}
.instagramButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: var(--gap-3xs);
  background-color: inherit;
  cursor: pointer;
}
.vectorIcon4 {
  position: relative;
  width: 16px;
  height: 13.6px;
  cursor: pointer;
}
.facebookButtonParent,
.frameParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px
}
.frameParent {
  position: absolute;
  top: 10px;
  left: calc(50% - 54px);
  width: 123px;
  height: 167px;
  flex-direction: column;
  gap: var(--gap-base);
}
.vectorIcon5 {
  position: relative;
  width: 27px;
  height: 27px;
  z-index: 0;
  cursor: pointer;
}
.vectorIcon6,
.vectorIcon7 {
  position: absolute;
  margin: 0 !important;
  height: 42.31%;
  width: 42.31%;
  top: 17.31%;
  right: 28.85%;
  bottom: 40.38%;
  left: 28.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
  cursor: pointer;
}
.vectorIcon7 {
  height: 22.3%;
  width: 69.54%;
  top: 67.32%;
  right: 15.23%;
  bottom: 10.38%;
  left: 15.23%;
  z-index: 2;
  cursor: pointer;
}
.editProfileButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: inherit;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  z-index: 0;
}
.profilePic {
  position: relative;
  width: 138px;
  height: 177px;
  text-align: left;
  font-size: var(--font-size-xs);
  font-family: var(--font-open-sans);
}

.instagramButton, .facebookButton {
    background-color: var(--color-div-heading);
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 100%;
    cursor: pointer;
}

.instagramButton div, .facebookButton div {
    cursor: pointer;
}

@media (max-width: 1000px) {
    .profilePic {
        margin: 0 auto;
        margin-bottom: 15%;
    }
}

@media (max-width: 700px) {
    .profilePic {
        margin-left: 0;
        margin-bottom: 0;
    }
}

@media (max-width: 400px) {
    .profilePic {
        margin: 0 auto;
        margin-bottom: 15%;
    }
}