.span {
  color: var(--color-white);
}
.crm {
  color: var(--color-slategray);
}
.profileCrmContainer {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 150%;
}
.profilecrmFrame {
  position: absolute;
  top: 70px;
  left: 1149px;
  width: 127px;
  height: 30px;
}
.eventFrame,
.experienceFrame,
.historyFrame,
.noteFrame,
.profilePicParent {
  position: absolute;
  top: 505px;
  left: 917px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.eventFrame,
.experienceFrame,
.historyFrame,
.profilePicParent {
  top: 113px;
  left: 540px;
  flex-direction: column;
}
.eventFrame,
.experienceFrame,
.profilePicParent {
  top: 505px;
  flex-direction: row;
}
.eventFrame,
.profilePicParent {
  top: 308px;
  flex-direction: column;
}
.profilePicParent {
  top: 0;
  left: 0;
  width: 360px;
  height: 198px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.contactName {
  position: relative;
  font-size: 15px;
  font-family: var(--font-open-sans);
  color: var(--color-gray-600);
  text-align: left;
}
.aboutMeParent,
.contactNameButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactNameButton {
  cursor: pointer;
  border: 0;
  padding: 11px 28px;
  background-color: var(--color-lightseagreen);
  border-radius: var(--br-3xs);
  justify-content: center;
}
.contactNameButton:hover {
  background-color: #0a9fa1;
}
.aboutMeParent {
  position: absolute;
  top: 198px;
  left: 0;
  width: 360px;
  height: 601px;
  justify-content: flex-start;
  gap: 362px;
}
.detailsSection,
.frameParent {
  position: absolute;
  top: 0;
  left: 0;
}
.frameParent {
  margin: 0 !important;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightslategray);
  width: 360px;
  height: 799px;
  z-index: 0;
}
.detailsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.detailFrame {
  position: absolute;
  top: 113px;
  left: 160px;
  width: 360px;
  height: 799px;
}
.vectorIcon,
.vectorIcon1,
.vectorIcon2 {
  position: absolute;
  height: 6.67%;
  width: 105%;
  top: -3.33%;
  right: -2.5%;
  bottom: 96.67%;
  left: -2.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.vectorIcon1,
.vectorIcon2 {
  top: 46.67%;
  bottom: 46.67%;
}
.vectorIcon2 {
  top: 96.67%;
  bottom: -3.33%;
}
.hamburgermenu {
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 20px;
  height: 15px;
}
.connections,
.dashboard,
.hamburgermenu,
.profile {
  position: relative;
  cursor: pointer;
}
.connections,
.profile {
  color: var(--color-snow);
}
.profile {
  color: var(--color-lightseagreen);
}
.nav,
.pages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.pages {
  margin: 0;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.nav {
  align-self: stretch;
}
.navFrame {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4a547b;
  width: 1440px;
  height: 55px;
  display: flex;
  flex-direction: column;
  padding: 14px 178px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.profileInfo2 {
  position: relative;
  background-color: #dddeec;
  width: 100%;
  height: 1024px;
  text-align: right;
  font-size: 20px;
  color: var(--color-lightseagreen);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 960px) {
  .hamburgermenu,
  .pages {
    display: flex;
  }
}
