@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: #25243F;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.login-container {
    text-align: center;
    margin-top: 50px;
    padding: 10px;
}

form {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    color: #1CBABD;
    font-weight: 400;
    margin-bottom: 50px;
}

.login-button {
    background-color: #1CBABD;
    border: none;
    text-transform: uppercase;
    width: 90px;
    padding: 10px 10px;
    margin-top: 30px;
    border-radius: 10px;
    text-align: center;
}

.login-button:hover {
    background-color: #1cbabdcf;
}

.form-field {
    border: 3px solid #364156;
    border-radius: 5px;
    width: 105%;
    text-align: left;
    padding: 15px;
    color: rgb(255, 248, 240);
    margin: 5px;
    background-color: #25243F;
}

.form-field:focus {
    outline: 2px solid #67799d;
}

#forgot-password {
    color: rgb(255, 250, 244, 0.7);
    align-items: flex-end;
    font-size: 0.8rem;
    margin: 10px;
    margin-left: auto;
    margin-right: 0px;
}

#signup-link {
    margin: 30px 50px;
    color: #FFFAF4;
}

#signup-link > a {
    color: #1CBABD;
}