@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

body {
    margin: 0;
    line-height: normal;
}

* {
    box-sizing: content-box;
    cursor: default;
}

root {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}

:root {
    /* fonts */
    --font-poppins: Poppins;
    --font-open-sans: "Open Sans";
    --font-inter: Inter;
    --font-inherit: inherit;

    /* font sizes */
    --font-size-6xl: 1.56rem;
    --font-size-31xl: 3.13rem;
    --font-size-xl: 1.25rem;
    --font-size-5xl: 1.5rem;

    --font-size-lg: 18px;
    --font-size-mini: 15px;
    --font-size-3xs: 10px;
    --font-size-2xs: 11px;
    --font-size-smi: 13px;
    --font-size-xs: 12px;
    --font-size-sm: 14px;

    /* Colors */
    --color-lavender-100: #dddeec;
    --color-lavender-200: rgba(221, 222, 236, 0.5);
    --color-lightseagreen: #1cbabd;
    --color-white: #fff;
    --color-gray: #262541;
    --color-steelblue: #6a76a3;
    --color-floralwhite: #fff8f0;
    --color-silver: #bcbec0;

    --color-white: #fff;
    --color-snow: #fffcf8;
    --color-lightseagreen: #1cbabd;
    --color-lightslategray: #8891b4;
    --color-darkcyan: #0a9fa1;
    --color-gray-100: #fcfcfc;
    --color-gray-200: #f9fcff;
    --color-gray-300: #272640;
    --color-gray-400: rgba(255, 255, 255, 0.2);
    --color-gray-500: rgba(255, 255, 255, 0.8);
    --color-gray-600: rgba(255, 255, 255, 0.82);
    --color-gainsboro: #d9d9d9;
    --color-slategray: #656c86;
    --color-whitesmoke: #f5f5f5;

    /* Gaps */
    --gap-3xs: 0.5rem;

    --gap-11xl: 30px;
    --gap-xl: 20px;
    --gap-5xs: 8px;
    --gap-3xs: 10px;
    --gap-base: 16px;
    --gap-7xl: 26px;
    --gap-11xs: 2px;
    --gap-205xl: 224px;

    /* Paddings */
    --padding-3xs: 0.63rem;

    --padding-2xs: 11px;
    --padding-9xl: 28px;
    --padding-6xs: 7px;
    --padding-12xs: 1px;
    --padding-11xs: 2px;
    --padding-5xl: 24px;
    --padding-29xl: 48px;
    --padding-mini: 15px;
    --padding-5xs: 8px;
    --padding-8xl: 27px;
    --padding-27xl: 46px;
    --padding-4xs: 9px;
    --padding-smi: 13px;

    /* Border radiuses */
    --br-8xs: 5px;
    --br-xl: 20px;
    --br-3xs: 10px;
    --br-21xl: 40px;
}