@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700&display=swap");

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: center;
    overflow-x: hidden;
}

html {
    /* background: linear-gradient(to bottom right, rgb(220, 228, 255), #ffffff, rgb(220, 228, 255)); */
    background-size: cover;
    background-position: top left, center;
    background-attachment: scroll, fixed;
    background-color: var(--color-lavender-200);
}

html,
body {

    margin: 0px;
    padding: 0px;
}

/* Works on Firefox */
div, table {
    scrollbar-color: #6975a2 transparent;
}

/* Other browsers: Chrome, Edge, Safari etc. */
div::-webkit-scrollbar, table::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

div::-webkit-scrollbar-track, table::-webkit-scrollbar-track {
    background: transparent;
}

div::-webkit-scrollbar-thumb, table::-webkit-scrollbar-thumb {
    background-color: #6975a2;
    border-radius: 20px;
    border: 3px solid transparent;
}

* {
    box-sizing: content-box;
    cursor: default;
}

root {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}

:root {
    /* fonts */
    --font-poppins: Poppins;
    --font-inter: Inter;
    --font-open-sans: "Open Sans";
    --font-inherit: inherit;
    --font-roboto: Roboto;

    /* font sizes */
    --font-size-6xl: 1.56rem;
    --font-size-31xl: 3.13rem;
    --font-size-xl: 1.25rem;
    --font-size-5xl: 1.5rem;
    --font-size-3xs: 10px;
    --font-size-2xs: 11px;
    --font-size-smi: 13px;
    --font-size-sm: 14px;
    --font-size-base: 16px;
    --font-size-lg: 18px;
    --font-size-7xl: 26px;
    --font-size-11xl: 30px;
    --font-size-45xl: 64px;

    /* Colors */
    --color-lavender-100: #dddeec;
    --color-lavender-200: rgb(245, 245, 255);
    --color-lightseagreen: #1cbabd;
    --color-darkcyan: #0a9fa1;
    --color-white: #fff;
    --color-snow: #fffcf8;
    --color-floralwhite: #fff8f0;
    --color-gray: #262541;
    --color-lightslategray: #8891b4;
    --color-slategray: #656C86;
    --color-gray-100: #fcfcfc;
    --color-gray-200: #f9fcff;
    --color-gray-300: #272640;
    --color-gray-400: rgba(255, 255, 255, 0.2);
    --color-gray-500: rgba(255, 255, 255, 0.8);
    --color-gray-600: rgba(255, 255, 255, 0.82);
    --color-steelblue: #6a76a3;
    --color-silver: #bcbec0;

    --color-div-background: #8a95bd;
    --color-div-heading: #6975a2;
    --color-text-highlight: #1cbabd;
    --color-button: #1cbabd;

    /* Gaps */
    --gap-3xs: 0.5rem;
    --gap-11xs: 2px;
    --gap-9xs: 4px;
    --gap-5xs: 8px;
    --gap-3xs: 10px;
    --gap-2xs: 11px;
    --gap-xs: 12px;
    --gap-smi: 13px;
    --gap-sm: 14px;
    --gap-base: 16px;
    --gap-xl: 20px;
    --gap-7xl: 26px;

    --gap-11xl: 30px;
    --gap-13xl: 32px;
    --gap-16xl: 35px;
    --gap-27xl: 46px;
    --gap-45xl: 64px;

    --gap-205xl: 224px;
    --gap-317xl: 336px;

    /* Paddings */
    --padding-3xs: 0.63rem;
    --padding-12xs: 1px;
    --padding-11xs: 2px;
    --padding-10xs: 3px;
    --padding-9xs: 4px;
    --padding-8xs: 5px;
    --padding-7xs: 6px;
    --padding-6xs: 7px;
    --padding-5xs: 8px;
    --padding-4xs: 9px;

    --padding-2xs: 11px;
    --padding-xs: 12px;
    --padding-smi: 13px;
    --padding-sm: 14px;
    --padding-mini: 15px;
    --padding-base: 16px;
    --padding-mid: 17px;

    --padding-7xl: 26px;
    --padding-8xl: 27px;
    --padding-9xl: 28px;
    --padding-27xl: 46px;
    --padding-29xl: 48px;
    --padding-159xl: 178px;

    /* Border radiuses */
    --br-8xs: 5px;
    --br-3xs: 10px;
    --br-xl: 20px;
    --br-6xl: 25px;
    --br-21xl: 40px;

    /* fonts */
    --font-roboto: Roboto;
    --font-poppins: Poppins;

    /* font sizes */
    --font-size-base: 16px;
    --font-size-xl: 20px;
    --font-size-11xl: 30px;
    --font-size-7xl: 26px;
    --font-size-lg: 18px;

    /* Colors */
    --color-white: #fff;
    --color-darkgray: rgba(180, 171, 171, 0.66);
    --color-gray-100: #7c7c7c;

    --color-darkslategray-100: #303030;
    --color-dimgray: #707070;
    --color-lightseagreen: #1cbabd;
    --color-gainsboro: #e7e7e7;
    --color-snow: #fffcf8;

    /* Gaps */
    --gap-11xl: 30px;

    /* Border radiuses */
    --br-6xl: 25px;
}