@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}

* {
    box-sizing: content-box;
    cursor: default;
}

root {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-6xl: 1.56rem;
  --font-size-31xl: 3.13rem;
  --font-size-xl: 1.25rem;
  --font-size-5xl: 1.5rem;

  /* Colors */
  --color-lavender-100: #dddeec;
  --color-lavender-200: rgba(221, 222, 236, 0.5);
  --color-lightseagreen: #1cbabd;
  --color-white: #fff;
  --color-gray: #262541;
  --color-steelblue: #6a76a3;
  --color-floralwhite: #fff8f0;
  --color-silver: #bcbec0;


  /* Gaps */
  --gap-3xs: 0.5rem;

  /* Paddings */
  --padding-3xs: 0.63rem;

  /* Border radiuses */
  --br-8xs: 5px;
  --br-xl: 20px;
  --br-3xs: 10px;
  --br-21xl: 40px;
}
