.expPopBackground {
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 222px;
  height: 249px;
  z-index: 0;
}
.experience {
  border: 0;
  font-family: var(--font-inter);
  background-color: var(--color-gainsboro);
  margin: 0 !important;
  position: absolute;
  top: 6px;
  left: 6px;
  border-radius: var(--br-3xs);
  width: 208px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-6xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
}
.confirm,
.description,
.experience {
  font-size: var(--font-size-sm);
}
.description {
  border: 0;
  font-family: var(--font-inter);
  background-color: var(--color-gainsboro);
  margin: 0 !important;
  position: absolute;
  top: 53px;
  left: 6px;
  border-radius: var(--br-3xs);
  width: 208px;
  height: 133px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-6xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
}
.confirm {
  position: relative;
  line-height: 150%;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: right;
}
.confirmExperienceButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-11xs) var(--padding-4xs);
  background-color: var(--color-lightseagreen);
  margin: 0 !important;
  position: absolute;
  top: 206px;
  left: 139px;
  border-radius: var(--br-8xs);
  z-index: 3;
}
.cancelExperienceButton,
.confirmExperienceButton,
.experiencePopup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cancelExperienceButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-11xs) var(--padding-smi);
  background-color: var(--color-lightseagreen);
  margin: 0 !important;
  position: absolute;
  top: 206px;
  left: 6px;
  border-radius: var(--br-8xs);
  z-index: 4;
}
.experiencePopup {
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  position: relative;
  gap: var(--gap-3xs);
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}
