.nav-bar-wrapper {
  position: absolute;
  left: 0;
  background-color: #4A547B;
  width: 100%;
  padding: 14px 178px;
}

.pages-wrapper {
  margin: 0;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-snow);
  font-family: var(--font-poppins);
}
.nav-bar,
.pages-wrapper {
  display: flex;
  flex-direction: row;
  gap: var(--gap-11xl);
}
.hamburgermenu {
  position: absolute;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
}

.pages {
  position: relative;
  cursor: pointer;
}