.nav-bar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4A547B;
  width: 100%;
  height: 55px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-159xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.nav-bar {
  align-self: stretch;

@media screen and (max-width: 960px) {
  .hamburgermenu,
  .pages5 {
    display: flex;
  }
}
}
.pages-wrapper {
  margin: 0;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-snow);
  font-family: var(--font-poppins);
}
.nav-bar,
.pages-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.hamburgermenu {
  position: absolute;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
}

.pages {
  position: relative;
  cursor: pointer;
}