.tasks {
  position: absolute;
  top: 17.2%;
  left: 63%;
  height: 56.3%;
  width: 28%;
  align-items: flex-start;
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
  font-family: var(--font-inter);
  background-color: var(--color-lightslategray);
  border-radius: 15px;
}

.tasks-heading {
  position: relative;
  margin: 7px;
  border-radius: var(--br-3xs);
  background-color: #656C86;
  padding: var(--padding-11xs) var(--padding-mid);
  box-sizing: border-box;
  font-size: var(--font-size-lg);
  color: var(--color-gray-400);
  font-family: var(--font-poppins);
}

.my-tasks {
  color:white;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}

.tasks table {
  position: relative;
  table-layout:fixed;
  border-spacing: 10px 10px;
  display: block;
  height: 80%;
  overflow:scroll;
}

.row-wrapper{
  position:relative;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 8px;
  vertical-align: middle;
}

.tick-task-done {
  position: relative;
  top: 8px;
  width: 13px;
  height: 13px;
  object-fit: cover;
}

.delete-icon {
  position: relative;
  width: 13px;
  height: 14.02px;
  object-fit: cover;
}
.delete-button {
  background-color: white;
  border:none;
}

.tasks tbody {
  position: relative;
  padding: var(--padding-xxs);
  align-items: center;
  color: black;
}

.add-task {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 150%;
  color: var(--color-white);
  text-align:center;
  font-family: var(--font-poppins);
}

.add-task-container {
  margin-top: 10px;
  margin-left: 10px;
  position: relative;
  cursor: pointer;
  background-color: var(--color-lightseagreen);
  border-radius: 5px;
  border:none;
  z-index: 3;
}