
.profileContentContainer {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}


.left {
    margin-right: 5%;
    display: inline-flex;
    flex-direction: column;
    width: 27%;
    min-width: 17rem;
    height: 100%;
    vertical-align: top;
}

.right {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 55%;
    min-width: 20rem;
    vertical-align: top;
}

.lowerRight {
    margin-top: 1%;
    height: 40%;
    min-width: 10rem;
}


/* .vectorIcon,
.vectorIcon1,
.vectorIcon2 {
  height: 6.67%;
  width: 105%;
  max-width: 100%;
  max-height: 100%;
} */

.profile {
    margin: 2% auto;
    margin-bottom: 0%;
    background-color: transparent;
    width: 100vw;
    height: 85vh;
    text-align: left;
    font-size: 20px;
    color: var(--color-lightseagreen);
    font-family: var(--font-poppins);
}

@media (max-width: 700px) {
    .profileContentContainer {
        display: inline;
    }
    .left {
        width: 70%;
        margin: 0 10%;
    }

    .right {
        margin: 3% 10%;
        width: 80%;
    }
}
