
.profileContentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.profileContentContainer > div {
    margin: 0% 30px;
}

.left {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 80%;
}

.right {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    height: 100%;
    width: 55%;
}

.lowerRight {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    height: 30%;
}


/* .vectorIcon,
.vectorIcon1,
.vectorIcon2 {
  height: 6.67%;
  width: 105%;
  max-width: 100%;
  max-height: 100%;
} */

.profile {
    margin: 3% auto;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    text-align: left;
    font-size: 20px;
    color: var(--color-lightseagreen);
    font-family: var(--font-poppins);
}