.dashboard {
    display: flex;
    flex-direction: column;
    margin: 3% auto;
    background-color: var(--color-lavender);
    width: 100vw;
    height: 100vh;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-white);
    font-family: var(--font-poppins);
}

.dashboard .dashboard-widget {
    box-shadow: 2px 3px 8px #26314d44;
    background: linear-gradient(to bottom right, var(--color-div-background), var(--color-div-background), #7683b0);
    border-radius: 7px;
}

.widget-heading {
    margin: 0 !important;
    border-radius: 7px;
    background-color: var(--color-div-heading);
    width: 100%;
    padding: 7px 15px;
    margin: 1rem;
    text-align: right;
    font-size: var(--font-size-lg);
    color: var(--color-white);
    font-family: var(--font-poppins);
    position: relative;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
}

.dashboard-content-container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.dashboard-content-container>div {
    margin: 0.5rem;
}


.connection-stats-container {
    width: 15%;
    height: 61%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.connection-stats {
    width: 100%;
    position: relative;
    background-color: #8891B4;
    display: flex;
    flex-direction: column;
    padding: var(--padding-smi) var(--padding-base);
    margin: 0.5rem;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    flex-grow: 1;
}

.total-connect {
    position: relative;
    font-size: var(--font-size-45xl);
    font-family: var(--font-inter);
    color: #38cdd0;
    display: inline-block;
}

.monthly-connections {
    border-radius: var(--br-3xs);
    background-color: #8891B4;
    display: flex;
    flex-direction: column;
    padding: var(--padding-sm) var(--padding-base);
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
}

.connections-made-this,
.monthly-connect {
    font-size: var(--font-size-base);
    position: relative;
    display: inline-block;
}

.monthly-connect {
    font-size: var(--font-size-45xl);
    font-family: var(--font-inter);
}

TaskContainer {
    position: relative;
}

ConnectionsContainer {
    position: relative;

}

UpcomingEventsContainer {
    position: relative;
}